.status-popver .van-popover__action{
  padding: 0 10px ;
  margin: 0;
}
.van-popover__action-text {
  width: 231px;
  height: 32px;
  color: #fff;
  position: relative;
  font-size: 18px;
  background: url('./assets//btn_bg1.png') no-repeat center;
  background-size: cover;
}
.van-popover__action-text:before{
  position:absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content:'';
  width: 10px;
  height: 10px;
  border-radius: 2px;
}
.van-hairline--bottom:after {
  border: 0;
}
.icon0 .van-popover__action-text:before {
  background: #f42f5e;
}
.icon1 .van-popover__action-text:before {
  background: #e2bd23;
}
.icon2 .van-popover__action-text:before {
  background: #80d681;
}
.icon3 .van-popover__action-text:before {
  background: #5cb5ff;
}
.icon4 .van-popover__action-text:before {
  background: #3086fd;
}